tajne.txt
**/*~
**/*.out
**/*.gz
**/*.log
**/*.exe
**/*.o
**/*.out
**/*.aux
**/*.idx
**/*.ilg
**/*.ind
**/*.nav
**/*.pdf
**/*.snm
**/*.toc
**/*.vrb

**/*~
**/*.out
**/*.backup
**/*.gz
**/*.log
**/*.exe
**/*.o
**/*.aux
**/*.toc
**/*.user
**/*.filters
**/*.vcxproj
**/*.sln
**/*.sdf
**/*.ilk
**/*.lastbuildstate
**/*.tlog
**/*.pdb
**/*.manifest
**/*.res
**/*.rc
**/*.obj
**/*.idb
**/*.toc
**/*.aux
**/*.nav
**/*.snm
**/*.vrb
**/*.dev
**/*.idx
**/*.layout
**/*.opensdf
**/*.suo
**/*.ipch
**/*.cache
**/*.depend
**/*.cbp
**/*.pdf

